/* Global file which is accessible for all is one way of givivng css */
/* body{
  background-color: red;
} */
 /* To apply this we should import this file in main.jsx */
 *{
  padding: 0;
  margin: 0;
 }
 /* next way to give style is Card.module.css*/